<nav class="navbar navbar-expand-md bg-menu" data-bs-theme="dark">
    <div class="container-fluid">
      <img src="../../../../assets/logo/LOGO1.jpg" alt="" class="navbar-brand ms-3" style="height: 70px;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu-navegacion" aria-controls="menu-navegacion" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu-navegacion">
        <ul class="navbar-nav flex-grow-1 pe-3">
          <!-- inicio/home -->
            <li class="nav-item" *ngIf="estalogueado()">
              <a class="nav-link" routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page">
                Inicio
              </a>
            </li>
            <!-- agregar tarea -->
            <li class="nav-item" *ngIf="estalogueado()">
              <a class="nav-link" routerLink="addtask" routerLinkActive="active" ariaCurrentWhenActive="page">
                Agregar Tarea
              </a>
            </li>
            <!-- perfil de linkedIn -->
            <li class="nav-item ms-4">
              <a class="nav-link" [href]="enlace_linkedIn" target="_blank">
                <i class="bi bi-linkedin h4 text-white"></i>
              </a>
            </li>
            <!-- link de mi github -->
            <li class="nav-item ms-4">
              <a class="nav-link" [href]="enlace_github_proyecto" target="_blank">
                <i class="bi bi-github h4 text-white"></i>
              </a>
            </li>
            <!-- cuadro de inicio de sesion -->
            <li class="nav-item dropdown me-0 me-md-0 me-lg-5 ms-4 ms-md-auto ms-lg-auto" *ngIf="estalogueado()">
              <a class="dropdown-toggle text-white me-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="cuadro-usuario">
                <i class="bi bi-person-circle h4"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end p-2" style="width: 300px;" data-bs-theme="light">
                <li class="h5 text-primary text-center">
                  Bienvenido <i class="bi bi-emoji-laughing"></i>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li style="font-size: 0.8rem;">
                  <strong class="ms-2">User: </strong><i class="text-primary">{{getUser()}}</i>
                </li>
                <br>
                <li>
                  <div class="d-flex flex-column">
                    <div class="d-grid gap-2">
                      <button class="btn btn-outline-primary btn-sm" type="button" (click)="consultaAcciones('logout')">
                    Cerrar Sesión
                      </button>
                      <button class="btn btn-outline-danger btn-sm" type="button" (click)="consultaAcciones('deleteAccount')">
                    Eliminar Cuenta
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto me-5" *ngIf="!estalogueado()">
          <!-- login -->
          <li class="nav-item ms-2 ms-md-auto ms-lg-auto">
            <a class="nav-link" routerLink="login" routerLinkActive="active" ariaCurrentWhenActive="page">
              Iniciar Sesión
            </a>
          </li>
          <!-- registro -->
          <li class="nav-item ms-2 ms-md-auto ms-lg-auto">
            <a class="nav-link" routerLink="register" routerLinkActive="active" ariaCurrentWhenActive="page">
              Registrarse
            </a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<!-- Modal Consulta al Usuario por una accion: Aceptar o Cancelar-->
<div class="modal fade" id="modal-acciones" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title fs-5 text-primary" id="staticBackdropLabel">{{modalAcciones.title}}</h5>
          <button type="button" class="btn-close" (click)="cerrarModalConsulta()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p style="font-size: 0.9rem;">{{modalAcciones.textoBodyModal}}</p>
      </div>
      <div class="modal-footer">
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-outline-primary" (click)="ok()">
              Aceptar
            </button>
            <button type="button" class="btn btn-outline-danger" (click)="cerrarModalConsulta()">
              Cancelar
            </button>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal luego de eliminar cuenta o cerrar sesion-->
<div class="modal" id="modal-execute-action" data-bs-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5 text-primary" id="staticBackdropLabel">{{modalExecute.title}}</h3>
        <button type="button" class="btn-close" *ngIf="modalExecute.hab_btn" (click)="aceptar()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-center" *ngIf="!modalExecute.hab_btn">
          <div class="spinner-border text-teal" role="status">
              <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <p class="text-center">{{modalExecute.textoBodyModal}}</p>
      </div>
      <div class="modal-footer" *ngIf="modalExecute.hab_btn">
        <button type="button" class="btn btn-outline-primary" (click)="aceptar()">
          {{modalExecute.textoBtn}}
        </button>
      </div>
    </div>
  </div>
</div>