<!-- Modal Consulta al Usuario por una accion: Aceptar o Cancelar-->
<div class="modal fade" id="modal-consulta" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title fs-5 text-primary" id="staticBackdropLabel">{{modalQuery.title}}</h5>
            <button type="button" class="btn-close" (click)="cerrarModalConsulta()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>{{modalQuery.textoBodyModal}}</p>
        </div>
        <div class="modal-footer">
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="ok()">
                    Aceptar
                </button>
                <button type="button" class="btn btn-outline-danger btn-sm" (click)="cerrarModalConsulta()">
                    Cancelar
                </button>
            </div>
        </div>
      </div>
    </div>
</div>